textarea {
    resize: none;
}
pre{
    height: 75vh;
    overflow-y: scroll;
}
#input{
    height: 75vh;
    overflow-y: scroll;
}
.container{
    margin-top: 30px;
}
.btn:focus {
    outline: none;
}
.alert{
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}
#logo {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 10px;
}
.pre-scrollable {
    max-height: 150px;
    overflow-y: scroll;
}